examples/Access
[{"id":"740c22af.21bf74","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"33baf433.fbff44","type":"inject","z":"740c22af.21bf74","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":80,"y":200,"wires":[["9a50b095.861fd"]]},{"id":"a38ba9ad.b47ed","type":"ttn uplink","z":"740c22af.21bf74","name":"TTN wxballoons2t","app":"53c28488.94a644","dev_id":"","field":"","x":90,"y":320,"wires":[["e03e0f84.27b4c8","c3ab2f9f.e73ec8"]]},{"id":"9b2a5978.2da988","type":"change","z":"740c22af.21bf74","name":"Rename fields","rules":[{"t":"set","p":"payload.pressure_hpa","pt":"msg","to":"payload.p","tot":"msg"},{"t":"set","p":"payload.relHumidity","pt":"msg","to":"payload.rh","tot":"msg"},{"t":"set","p":"payload.dewPoint_c","pt":"msg","to":"payload.tDewC","tot":"msg"},{"t":"set","p":"payload.temperature_c","pt":"msg","to":"payload.tempC","tot":"msg"},{"t":"set","p":"payload.elevation_m","pt":"msg","to":"payload.z","tot":"msg"},{"t":"delete","p":"payload.rh","pt":"msg"},{"t":"delete","p":"payload.tDewC","pt":"msg"},{"t":"delete","p":"payload.tempC","pt":"msg"},{"t":"delete","p":"payload.p","pt":"msg"},{"t":"delete","p":"payload.z","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":480,"wires":[["7f8c059e.538c44","758876f4.b805a8"]]},{"id":"6f3176f8.0533c","type":"change","z":"740c22af.21bf74","name":"Add unix time","rules":[{"t":"set","p":"payload.unix_time","pt":"msg","to":"$floor($millis()/1000)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":420,"wires":[["9b2a5978.2da988"]]},{"id":"9a50b095.861fd","type":"telos-create","z":"740c22af.21bf74","name":"wxballoons2t","blockchain":"mainnet","chainid":"4667b205c6838ef70ff7988f6e8257e8be0e1284a2f59699054a018f743b1d11","endpoint":"https://telos.caleos.io","customendpoint":"","privkey":"/home/ubuntu/keys.txt","inputtype":"action","x":330,"y":200,"wires":[]},{"id":"ac8ac1e8.c9e798","type":"function","z":"740c22af.21bf74","name":"Stop if still ground pressure","func":"p = msg.payload.p;\nlastP = flow.get(msg.dev_id+'.pressure');\n\n// Prepare next iteration\nflow.set(msg.dev_id+'.pressure',p);\n\n// Check if pressure has changed one millibar from last obs\nif ( lastP || 0 ) {\n    if ( lastP - p > 0.5 ) {\n        // Device has launched\n        return msg;\n    } else {\n        return null; // Device is still on the ground\n    }\n} else {\n    // 1st clean observation on the ground\n    return msg;\n}\n","outputs":1,"noerr":0,"x":360,"y":380,"wires":[["6f3176f8.0533c"]]},{"id":"7f8c059e.538c44","type":"debug","z":"740c22af.21bf74","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":550,"y":460,"wires":[]},{"id":"e03e0f84.27b4c8","type":"switch","z":"740c22af.21bf74","name":"Check counter","property":"counter","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"gt","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":100,"y":380,"wires":[["d05380ac.9aaff8"],["ac8ac1e8.c9e798"]]},{"id":"136b6340.56484d","type":"telos-msig","z":"740c22af.21bf74","name":"wxballoons2t","blockchain":"mainnet","chainid":"4667b205c6838ef70ff7988f6e8257e8be0e1284a2f59699054a018f743b1d11","endpoint":"https://telos.caleos.io","customendpoint":"","privkey":"/home/ubuntu/keys.txt","inputtype":"action","x":510,"y":340,"wires":[]},{"id":"758876f4.b805a8","type":"telos-push","z":"740c22af.21bf74","name":"wxballoons2t","blockchain":"mainnet","chainid":"4667b205c6838ef70ff7988f6e8257e8be0e1284a2f59699054a018f743b1d11","endpoint":"https://telos.caleos.io","customendpoint":"","privkey":"/home/ubuntu/keys.txt","inputtype":"action","x":550,"y":500,"wires":[]},{"id":"c3ab2f9f.e73ec8","type":"debug","z":"740c22af.21bf74","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":320,"y":280,"wires":[]},{"id":"d05380ac.9aaff8","type":"function","z":"740c22af.21bf74","name":"Init pressure","func":"// Set first pressure value\np = msg.payload.p;\nflow.set(msg.dev_id+'.pressure',p);\n\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":340,"wires":[["136b6340.56484d"]]},{"id":"53c28488.94a644","type":"ttn app","z":"","appId":"wxballoons_app","accessKey":"ttn-account-v2.xnXdioAhAtghXPoHiXPsKGIy8vra33JJh_cSVOqslg0","discovery":"discovery.thethingsnetwork.org:1900"}]
